@font-face {
    font-family: 'woori-font';
    src: url('WooridaumL.ttf') format('truetype');
}

.header{
    display:flex;
    justify-content : center;
    width: 100%;
    height: 10%;
    font-size: 50px;
}


.body-section {
    width:100%;
    background-image: url("backgroundPage.png"); 
    background-size: cover; 
    background-position: center;
    height: 100vh;
}
